p
{
	font-family: Arial,Arial Black,Comic Sans MS,Courier New,Georgia,Impact,Times New Roman,Trebuchet MS,Verdana;
	font-size:1.3em;
	text-align:justify;
	text-align:center;
	text-align:left;
	width:50%;
	margin:auto;
}

nav ul
{
	text-align:right;
        list-style-type:none;

}
h1

h2

h3
